<app-navbar></app-navbar>
<div class="container">
    <button class="btn btn-info my-3" [routerLink]="['/user/todo-ajout']">Ajouter TO DO</button>
    <hr>
    <h2>TO DO </h2>
    <table class="table">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Titre</th>
                <th>Date d'ajout</th>

            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let todo of todos">
                <th>{{todo.numero}}</th>
                <td>{{todo.titre}}</td>
                <td>{{todo.dateAjout}}</td>
                <td>
                    <button class="btn btn-success" (click)="terminer(todo)">terminer</button>
                    <button class="btn btn-warning mx-3" (click)="modifier()">modifier</button>
                    <button class="btn btn-danger" (click)="supprimer(todo)">supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>

    <hr>
    <h2>DONE</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Titre</th>
                <th>Date d'ajout</th>
                <th>Date fin</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let done of dones">
                <th>{{done.numero}}</th>
                <td>{{done.titre}}</td>
                <td>{{done.dateAjout}}</td>
                <td>{{done.dateFin}}</td>
                <td>{{done.action}}</td>
                <td>
                    <button class="btn btn-danger" (click)="supprimer1(done)">supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-footer></app-footer>